[
    {kernel,
        [
            {distributed, [
            ]},
            {sync_nodes_optional, [
                cgriak@develop301
            ]},
            {sync_nodes_timeout, 3000}
        ]
    },
    {cgriak, [
        {cgriak_list,
            [
                {cgriak@develop301, "192.168.208.163", 8080}, {cgriak@host01, "192.168.208.11", 8080}
            ]
        }
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 1073741824}, {date, "$W6D22"}, {count, 5}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}, {size, 1073741824}, {date, "$W6D22"}, {count, 5}]}
        ]}
    ]}
].
